<h1>Create New Question</h1>
<%# form_for is built-in view helper to generate a form %>

<%#= render "questions/form" %>
<%= render "form" %>
<%#= render partial: "form", locals: { question: @question } %>  