<h2> this is an About Us page</h2>
<div class="container">
<%= link_to "coffee1", "javascript:void(0);", class: "btn btn-primary btn1" %>
<%= link_to "coffee2", "javascript:void(0);", class: "btn btn-primary btn2" %>

<input id="ex3-entry" type="text" />
<div id="ex3-output"></div>

</div>