<h1> Welcome, Tam says to create this</h1>
this is the <br>

views/welcome/index.html.erb     file, because in 
<br>
<p></p>

config/routes.rb       file we set: <br>

 root "welcome#index"  # this is same as   get "/" do ....  only 1 per site 

	<%# use "image_tag" to add fingerprint instead of <img src...> %>
 	<%= image_tag "Elephant_ashes1.jpg" %>